/** Configuracion Global **/
*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    -webkit-box-sizing: border-box;
}
/** Estilo Contenedor **/
.fondo{
    margin:  0; 
    padding: 0;
    z-index: -10;
}
.contenedor-estilo{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.contenedor-img{
    width: 80%;
    height: 15%;
    margin: auto;
    margin-top: 30px;
    position: relative;
    overflow: hidden;

}
.contenedor-img img{
    width: 100%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

/** Contenedor de Imagenes**/
.contenedor-1{
    width: 1200px;
    height: 1200px;;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.4);
    transform: rotate(-30deg);
    margin-left: -750px;
    -webkit-transform: rotate(-30deg);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
.contenedor-2{
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.4);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    margin-left: -800px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.contenedor-3{
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.4);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -800px;
    margin-top: -500px;
    -webkit-transition: all 900ms;
    transition: all 900ms;
    -webkit-box-shadow: 0px 1px 20px -5px black;
    box-shadow: 0px 1px 20px -5px black;
}

.contenedor-4{
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 0;
    background: rgba(0,100,255,0.4);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-left: -850px;
    margin-top: -500px;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}

/** Contenedor de hover de Imagenes**/
.contenedor-img:hover .contenedor-1{
    width: 160%;
    -webkit-transition: all 900ms;
    transition: all 900ms;
}
.contenedor-img:hover .contenedor-2{
    width: 160%;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.contenedor-img:hover .contenedor-3{
    width: 160%;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.contenedor-img:hover .contenedor-4{
    width: 160%;
    -webkit-transition: all 700ms;
    transition: all 700ms;
}
.contenedor-img:hover img{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0.8;
}
/** Contenedor de Texto **/
.contenedor-texto{
    position: absolute;
    top: 0;
    width: 70%;
    padding: 100px;
    z-index: 10;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.contenedor-texto h2{
    font-size: 30px;
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.contenedor-texto p{
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.contenedor-img:hover h2{
    opacity: 1;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.contenedor-img:hover p{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}